<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav class="navbar-lewagon">
    <%= link_to lists_path, class:"p-3 bg-light border rounded shadow-sm text-decoration-none" do %>
      <span><i class="fa-solid fa-bars"></i></i> My lists</span>
    <% end %>

    <h1 class="m-0"><strong>Moviiiiz</strong></h1>

    <%= link_to new_list_path, class:"p-3 bg-light border rounded shadow-sm text-decoration-none" do %>
      <span><i class="fa-solid fa-rotate-left"></i> Add a new list</span>
    <% end %>

  </nav>
    <%= yield %>
  </body>
</html>
